.active{
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0.7em;
    background-color: #f1f1f1;
    color: rgb(66, 34, 225);
    border-radius: 10px;
    transition: all 0.3s;
    font-weight: bold !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.in{
    background-color: transparent !important;
    color: black;
    font-weight: 400 !important;
}

.active:hover{
    background-color: #f2f2f2 !important;
    color: rgb(66, 34, 225);
    font-weight: bold !important;
}

.menuhide{
    position: absolute;
    top: 18px;
    left: 24px;
    display: none;
    z-index: 101;
}
.subMenu {
    font-size: 0.75em;
}
.subin {
    color:#000
}

.childMenu{
    font-size: 0.79em;
    background-color: transparent;
}

.usrinfo{
    padding: 0.7em;
    background-color: #f8f6f6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.usrinfo i{
    font-size: 30px;
    display: inline;
    margin-right: 0.5em;
    color: #000 !important;
}
.usrinfo h5{
    margin: 0px;
    font-size:20px;
    color:rgb(15, 11, 42) !important;
}
.usrinfo p{
    margin: 0px;
    font-size: 14px;
}

@media only screen and (max-width: 767px) {
    .menuhide{
        display: block;
    }
    .hideside{
        display: none;
    }
    .smain, .linkbut{
        font-size: 1rem !important;
    }
}