*{
    box-sizing: border-box !important;
}
.card{
    padding: 1em !important;
    margin: 1em !important;
    transition: all 0.3s;
    cursor: pointer;
}

.card h4{
    font-size: 1em;
    color: rgba(0, 0, 255, 0.863)
}

.card p{
    font-size: 0.80em;
}

.card:hover{
    transform: translateY(-2px);
    box-shadow: 0px 2px 4px rgb(112, 110, 110);
}

.comhed {
    background-color: rgb(15, 11, 42);
    color: white;
    padding: 0.6em 0.9em;
}

.comadbtn {
    float: right;
    border: none;
    border-radius: 3px;
    background-color: rgb(66, 34, 225);
    color: white;
    padding: 0.5em 1.9em;
    margin-bottom: 3em;
}

.filticon{
    padding: 0.6em !important;
    margin-right: 0.5em;
    margin-bottom: unset !important;
    border-radius: 30px !important;
}

.comhed h6 {
    font-weight: 400;
}
  