*{
    box-sizing: border-box !important;
}
.card{
    padding: 1em !important;
    margin: 1em !important;
    transition: all 0.3s;
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

.card h4{
    font-size: 1em;
    color: rgba(0, 0, 255, 0.863)
}

.card p{
    font-size: 0.80em;
}

/* .card:hover{
    transform: translateY(-2px);
    
} */

.comhed {
    background-color: rgb(15, 11, 42);
    color: white;
    padding: 0.6em 0.9em;
}

.comadbtn {
    float: right;
    border: none;
    border-radius: 3px;
    background-color: rgb(66, 34, 225);
    color: white;
    padding: 0.5em 1.9em;
    margin-bottom: 3em;
}

.filticon{
    padding: 0.6em !important;
    margin-right: 0.5em;
    margin-bottom: unset !important;
    border-radius: 30px !important;
}

.comhed h6 {
    font-weight: 400;
}

.cell-content {
    padding: 4px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.box{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 4px grey;
}

@keyframes rotateForward {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  .rotate {
    animation: rotateForward 0.3s linear infinite; 
  }
  
  
.icon {
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 130px;
    height: 75px;
    cursor: pointer;
  }
  
  .icon img {
    width: 95%;
    height: 90%;
    border-radius: inherit;
    margin: auto 0;
  }
  
  
  