.heddiv{
    z-index: 100;
    background-color: rgb(15, 11, 42);
    color: white;
}
*{
    box-sizing: border-box;
}
.heddiv h2{
    margin: 0 1em 0 1.7em;
    padding: 0.8em;
}
.logout {
    position: absolute;
    top: 16px;
    right: 23px;
}
