*{
    box-sizing: border-box;
}

.heddiv{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    z-index: 1000;
    background-color: rgb(15, 11, 42);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.63em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.heddiv-start {
    flex-grow: 1;
}

.tex{
    margin: 0 1em 0 2em !important;
}

.reload-btn {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    background: linear-gradient(to bottom, #c2ecca, #42be1a)
}

.reload-btn:active {
    background: linear-gradient(to bottom, #c2ecca, #9dc590);
}